{% extends "layout.html" %}

{% block content %}
    <h1>Motherfucking Productivity</h1>

    <p>Yo! Look at this shit. It's a productivity system. It's everything that you've ever wanted. It has tasks and
        calendars, it has notes and activities and automatic motherfucking trackers. You can set your shitty goals here
        and track them. What else do you need?!</p>

    <p>Whatever you need to do just start doing it, you sucking piece of lazy ass. And when it's too much to hold it in
        your useless head, just put it here motherfucker.</p>

    <h2>Simple motherfucker, do you speak it?!</h2>
    This shit is simple It has no fancy ass styling or big as yo mama <h1 style="display: inline;">Hi</h1> with a video
    of successful
    people doing their successful shit. It's pure and simple.

    <p>I won't give you screenshots. Put your @hotmail or whatever and try it out. If you don't like it, get the fuck
        out of here and go explore a butload of other productivity porn systems. If you really want to Get Things Done
        (tm) use this you shit head. Otherwise go read some fucker's 500 page manual on how to Not Get Things Done and
        think of problems you never had.</p>

    <blockquote>If you can't do with it Motherfucking Productivity, you just like productivity porn.
        <footer>
            <cite>The imbicile behind this crappy webapp.</cite>
        </footer>
    </blockquote>

    <h2>FAQ U</h2>
    <ul>
        <li>How do I pronounce this website name?</li>
        <ul>
            <li>Maf King Prod. Mafkingprod.</li>
        </ul>
        <li>I am offended</li>
        <ul>
            <li>Get the fuck out of here.</li>
        </ul>
    </ul>

    {% from "security/_macros.html" import render_field_with_errors, render_field %}
    {% include "security/_messages.html" %}
    <h2>{{ _('Register') }}</h2>
    <form action="{{ url_for_security('register') }}" method="POST" name="register_user_form">
        {{ register_user_form.hidden_tag() }}
        {{ render_field_with_errors(register_user_form.email) }}
        {{ render_field_with_errors(register_user_form.password) }}
        {% if register_user_form.password_confirm %}
            {{ render_field_with_errors(register_user_form.password_confirm) }}
        {% endif %}
        {{ render_field(register_user_form.submit) }}
    </form>
{% endblock %}