<div style="width: calc(100% - 20px); position: absolute; left:20px;">
    {% for entry in timeline_data.entries %}
        {% set width=(entry.duration/timeline_data.total_time)*100 %}
        <div style="
                margin: -2px;
                height:20px;
                display:inline-block;
                background-color: {{ entry.color }};
                color: white;
                width: {{ width }}%;
                left: {{ (entry.start/timeline_data.total_time)*100 }}%;"
             title="{{ entry.key }}">
            {% if width>2 %}
                <small>
                    {% if entry.key|length >= 5 %}
                        {{ entry.key[:4] }}..
                    {% else %}
                        {{ entry.key }}
                    {% endif %}
                </small>
            {% else %}
                <small>&nbsp;</small>
            {% endif %}
        </div>
    {% endfor %}
</div>
<div style="width: calc(100% - 20px); position:absolute; top:10px;">
    <div style="display:inline-block;">
        <pre>&nbsp;&nbsp;|&nbsp;&nbsp;<br>{{ timeline_data.start_ts|format_dt("%H:%M") }}</pre>
    </div>
    <div style="display:inline-block; left: calc(100% - 63px); position: relative;">
        <pre>&nbsp;&nbsp;|&nbsp;&nbsp;<br>{{ timeline_data.finish_ts|format_dt("%H:%M") }}</pre>
    </div>
</div>
<div style="position:absolute; top: 60px;">
    {% for key, value in timeline_data.key_hashes.iteritems() %}
        <div style="
                background-color: {{ value }};
                padding: 2px;
                width: 10px;
                height: 10px;
                display: inline-block;
                color: white;
                "
        >
        </div>
        <small>{{ key }}</small><br>
    {% endfor %}
</div>