<p>
<form action="/activities/{{ activity.id }}/run_toggle" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <input type="hidden" name="is_running" value="{{ not activity.is_running }}"/>
    <div class="activity">
        <small style="float: right;">
            [<a href="/activities/{{ activity.id }}/edit">e</a>|<a href="/activities/{{ activity.id }}/delete">x</a>]
        </small>
        <button type="submit" class="activity-action">
            {% if activity.is_running %}&#9208;{% else %}&#9658;{% endif %}
        </button>
        <label>
            {{ activity.name }}
            {% if activity.is_running %}
                <br>
                <small class="count-up-timer">{{ activity.running_since_ts|to_user_tz }}</small> |
                <small>started: {{ activity.running_session.start_type }}</small>
            {% endif %}
        </label>
    </div>
</form>
</p>