{% extends "layout.html" %}

{% block aside %}
    {% include "cal.html" %}<br>
{% endblock %}

{% block content %}
    <div style="display: inline-block; width: 45%; padding: 10px;">
        <form action="/activities/create" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <label for="activity-name">Activity: </label>
            <input autofocus type="text" id="activity-name" name="name" class="main-input"
                   onkeydown="if (event.keyCode == 13 && !event.shiftKey) { this.form.submit(); return false; }"
            />
            <button>submit</button>
        </form>
    </div>
    <div style="display: inline-block; width:45%;padding: 10px;">
        <form action="/activity-sessions/create" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <label for="activity-name">Activity: </label>
            <select name="activity_id">
                {% for activity in activities %}
                    <option value="{{ activity.id }}">{{ activity.name }}</option>
                {% endfor %}
            </select><br><br>
            <label for="activity-session-start-ts">Start:</label>
            <input autofocus type="date" id="activity-session-started-ts" name="started_ts_date"
                   value="{{ default_start_session|to_user_tz|format_dt("%Y-%m-%d") }}"
            />
            <input autofocus type="time" id="activity-session-started-ts" name="started_ts_time"
                   value="{{ default_start_session|to_user_tz|format_dt("%H:%M") }}"
            /><br>
            <label for="activity-session-end-ts">End:</label>
            <input autofocus type="date" id="activity-session-finished-ts" name="finished_ts_date"
                   value="{{ default_end_session|to_user_tz|format_dt("%Y-%m-%d") }}"
            />
            <input autofocus type="time" id="activity-session-finished-ts" name="finished_ts_time"
                   value="{{ default_end_session|to_user_tz|format_dt("%H:%M") }}"
            />
            <button>submit</button>
        </form>
    </div>
    <hr>
    <div style="display: inline-block; width:45%; padding: 10px; vertical-align: top;">
        {% for activity in running_activities %}
            {% include "activity.html" %}
            {% set timelines=activities_summaries.activities_summaries[activity.name] %}
            {% set timeline_uid=activity.id %}
        {% endfor %}
        {% for activity in not_running_activities %}
            {% include "activity.html" %}
            {% set timelines=activities_summaries.activities_summaries[activity.name] %}
            {% set timeline_uid=activity.id %}
        {% endfor %}
    </div>
    <div style="display: inline-block; width:45%; padding: 10px; vertical-align: top;">
        {% for activity_session_crates in summed_activity_sessions %}
            <h3>{{ activity_session_crates.started_ts|to_user_tz|format_dt('%d-%m') }}
                - {{ activity_session_crates.finished_ts|to_user_tz|format_dt('%d-%m') }}
                <small>| Total time: {{ activity_session_crates.total_time|format_sec_to_human }}</small>
            </h3>
            {% for activity_session in activity_session_crates.activity_sessions %}
                {% include "summed-activity-session.html" %}
            {% endfor %}
        {% endfor %}

        {% if activity_sessions %}
            <h2>Sessions</h2>
            {% for activity_session in activity_sessions %}
                {% include "activity-session.html" %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
