<div class="activity_session">
    <small style="float: right;">
        [<a href="/activity-sessions/{{ activity_session.id }}/edit">e</a>|
        <a href="/activity-sessions/{{ activity_session.id }}/delete">x</a>]
    </small>

    {% if activity_session.finished_ts %}
        <p style="margin-bottom:0;">
            {{ activity_session.activity.name }}
        </p>
    {% else %}
        <form action="/activities/{{ activity_session.activity.id }}/run_toggle" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="hidden" name="is_running" value="false"/>
            <button type="submit" class="activity-action">&#9208;</button>
            {{ activity_session.activity.name }}
        </form>
    {% endif %}

    <small>
        {% if activity_session.finished_ts %}
            {{ (activity_session.finished_ts|to_user_tz - activity_session.started_ts|to_user_tz)|format_timedelta }} |
            {{ activity_session.started_ts|to_user_tz|format_dt('%H:%M') }}
            - {{ activity_session.finished_ts|to_user_tz|format_dt('%H:%M') }}
        {% else %}
            <span class="count-up-timer">{{ activity_session.started_ts|to_user_tz }}</span> |
            started {{ activity_session.started_ts|to_user_tz|format_dt('%H:%M') }} ({{ activity_session.start_type }}) ...
        {% endif %}
    </small>
</div>