<table border="0" cellpadding="0" cellspacing="0" class="month">
    <tr>
        <th colspan="8" class="month">{{ ctx.now|format_dt('%B %Y') }}</th>
    </tr>
    <tr>
        <th>W</th>
        <th class="cal-header mon">Mon</th>
        <th class="cal-header tue">Tue</th>
        <th class="cal-header wed">Wed</th>
        <th class="cal-header thu">Thu</th>
        <th class="cal-header fri">Fri</th>
        <th class="cal-header sat">Sat</th>
        <th class="cal-header sun">Sun</th>
    </tr>
    {% for week in ctx.month_calendar %}
        {% if ctx.now.day in week %}
            <tr class="this-week">
                {% else %}
            <tr>
        {% endif %}
    <td>
        <a href="?date_range_filter={{ week[0][2] }}-{{ week[0][1] }}-{{ week[0][0] }}--{{ week[6][2] }}-{{ week[6][1] }}-{{ week[6][0] }}">></a>
    </td>
    {% for day in week %}
        {% if day[3]=='today' %}
            <td class="cal-day today">{{ day[0] }}</td>
        {% else %}
            <td class="cal-day">
                <a href="?date_filter={{ day[2] }}-{{ day[1] }}-{{ day[0] }}&selected_date={{ day[2] }}-{{ day[1] }}-{{ day[0] }}">
                    {{ day[0] }}
                </a>
            </td>
        {% endif %}
    {% endfor %}
    </tr>
    {% endfor %}
</table>
