<div>
    {% for day in weekdays %}
        <div style="width: 12%; height: 150px;
                border: 1px solid {% if loop.index < 6 %}black{% else %}red{% endif %};
                {% if not loop.last %}border-right: none;{% endif %}
                {% if now.day == day %}background-color: #4af; color: white;{% endif %}
                display: inline-block; padding:5px; float: left;">
            {{ day[0] }}
            {% for dt, calendar_events in dated_calendar_events.iteritems() %}
                {% if dt.day == day[0] %}
                    {% for calendar_event in calendar_events[:5] %}
                        <div>
                            <small>
                                {% if calendar_event.title|length < 9 %}
                                    - {{ calendar_event.title }}
                                {% else %}
                                    - {{ calendar_event.title[:9] }}...
                                {% endif %}
                            </small>
                        </div>
                    {% endfor %}
                    {% if calendar_events|length > 5 %}
                        <div>
                            <small> {{ calendar_events|length - 5 }} more</small>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
</div>