{% extends "layout.html" %}
{% block aside %}
    {% include "cal.html" %}<br>
{% endblock %}

{% block content %}
    {% include "cal_week.html" %}
    <h2>Create Calendar event</h2>
    <form action="/calendar-events/create" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input autofocus type="text" id="calendar-event-title" name="title" class="main-input"
               onkeydown="if (event.keyCode == 13 && !event.shiftKey) { this.form.submit(); return false; }"
        />
        <label for="calendar-event-start-ts">Start:</label>
        <input autofocus type="date" id="calendar-event-to-start-ts" name="to_start_ts_date"
               value="{{ default_start_event|to_user_tz|format_dt("%Y-%m-%d") }}"
        />
        <input autofocus type="time" id="calendar-event-to-start-ts" name="to_start_ts_time" class="time-input"
               value="{{ default_start_event|to_user_tz|format_dt("%H:%M") }}"
        />

        <label for="all-day-checkbox">All day</label>
        <input type="checkbox" name="all_day" id="all-day-checkbox" onchange="toggleTimeInputs(this);" />
        <br>

        <label for="calendar-event-end-ts">End:</label>
        <input autofocus type="date" id="calendar-event-to-finish-ts" name="to_finish_ts_date"
               value="{{ default_end_event|to_user_tz|format_dt("%Y-%m-%d") }}"
        />
        <input autofocus type="time" id="calendar-event-to-finish-ts" name="to_finish_ts_time" class="time-input"
               value="{{ default_end_event|to_user_tz|format_dt("%H:%M") }}"
        />
        <br>
        <hr>
        <div class="repeating-hidden-default">
            <label for="recurring-every-input">Repeats every:</label>
            <input autofocus type="number" id="recurring-every-input" name="recurring_every"
                   value="1" min="1" style="width:30px;"
            />
        </div>
        <select name="recurring_type" onchange="recurringTypeChange(this);">
            {% for recurring_type in recurring_types %}
                <option value="{{ recurring_type[0] }}">{{ recurring_type[1] }}</option>
            {% endfor %}
        </select>
        <br>
        <div class="repeating-hidden-weekly">
            <label for="weekly-mo-input">Mo</label><input type="checkbox" name="weekly_1" id="weekly-mo-input"/>
            <label for="weekly-tu-input">Tu</label><input type="checkbox" name="weekly_2" id="weekly-tu-input"/>
            <label for="weekly-we-input">We</label><input type="checkbox" name="weekly_3" id="weekly-we-input"/>
            <label for="weekly-th-input">Th</label><input type="checkbox" name="weekly_4" id="weekly-th-input"/>
            <label for="weekly-fr-input">Fr</label><input type="checkbox" name="weekly_5" id="weekly-fr-input"/>
            <label for="weekly-sa-input">Sa</label><input type="checkbox" name="weekly_6" id="weekly-sa-input"/>
            <label for="weekly-su-input">Su</label><input type="checkbox" name="weekly_7" id="weekly-su-input"/>
            <br>
        </div>
        <div class="repeating-hidden-default">
            Ends:
            <input type="radio" name="recurring_ends_type" value="NEVER" id="recurring-ends-never" checked="checked"/>
            <label for="recurring-ends-never">Never</label>
            <input type="radio" name="recurring_ends_type" value="AFTER_N" id="recurring-ends-after"/>
            <label for="recurring-ends-never">After</label>
            <label for="recurring-ends-after-input"></label>
            <input autofocus type="number" id="recurring-ends-after-input" name="recurring_ends_after_x"
                   value="10" min="1" style="width:30px;"
            />
            <input type="radio" name="recurring_ends_type" value="ON" id="recurring-ends-on"/>
            <label for="recurring-ends-never">On</label>
            <label for="recurring-ends-after-input"></label>
            <input autofocus type="date" id="recurring-ends-on-input" name="recurring_ends_on"
                   value="{{ default_end_recurring|format_dt("%Y-%m-%d") }}"
            />
        </div>
        <button style="float: right;">submit</button>
    </form>
    <hr>
    <h2>Calendar events</h2>
    {% for dt, calendar_events in dated_calendar_events.iteritems() %}
        <h3>{{ dt|format_dt("%A, %d %B") }}</h3>
        {% for calendar_event in calendar_events %}
            {% include "calendar-event.html" %}
        {% endfor %}
    {% endfor %}
{% endblock %}
