<div class="calendar_event">
    <small style="float: right;">
        [<a href="/calendar-events/{{ calendar_event.id }}/edit">e</a>|<a
            href="/calendar-events/{{ calendar_event.id }}/delete">x</a>]
    </small>

    {% if calendar_event.to_finish_ts|to_user_tz %}
        <p style="margin-bottom:0;">
            {{ calendar_event.title }}
        </p>
    {% endif %}

    <small>
        {% if calendar_event.all_day %}
            All day | {{ calendar_event.to_start_ts|to_user_tz|format_dt('%d/%m/%y') }}
            {% if  calendar_event.to_finish_ts|to_user_tz > calendar_event.to_start_ts|to_user_tz %}
                - {{ calendar_event.to_finish_ts|to_user_tz|format_dt('%d/%m/%y') }}
            {% endif %}
        {% else %}
            {{ (calendar_event.to_finish_ts|to_user_tz - calendar_event.to_start_ts|to_user_tz)|format_timedelta }} |
            {{ calendar_event.to_start_ts|to_user_tz|format_dt('%H:%M') }}
            - {{ calendar_event.to_finish_ts|to_user_tz|format_dt('%H:%M') }}
        {% endif %}
    </small>
</div>
