{% extends "layout.html" %}
{% block content %}
    <hr>
    <h2>Edit Activity Session
        <a href="/activity-sessions/{{ activity_session.id }}/delete">x</a>
    </h2>
    <form action="/activity-sessions/{{ activity_session.id }}/edit" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <label for="activity-title">Activity: </label>
        <select name="activity_id">
            {% for activity in activities %}
                <option value="{{ activity.id }}"
                        {% if activity_session.activity_id == activity.id %}selected="selected"{% endif %}>
                    {{ activity.name }}
                </option>
            {% endfor %}
        </select><br><br>
        <input autofocus type="date" id="activity-session-started-ts" name="started_ts_date"
               value="{{ activity_session.started_ts|to_user_tz|format_dt("%Y-%m-%d") }}"
        />
        <input autofocus type="time" id="activity-session-started-ts" name="started_ts_time"
               value="{{ activity_session.started_ts|to_user_tz|format_dt("%H:%M") }}"
        />
        {% if  activity_session.finished_ts %}
            <input autofocus type="date" id="activity-session-finished-ts" name="finished_ts_date"
                   value="{{ activity_session.finished_ts|to_user_tz|format_dt("%Y-%m-%d") }}"

            />
            <input autofocus type="time" id="activity-session-finished-ts" name="finished_ts_time"
                   value="{{ activity_session.finished_ts|to_user_tz|format_dt("%H:%M") }}"
            />
        {% endif %}
        <button>submit</button>
    </form>
    <hr>
{% endblock %}
