{% extends "layout.html" %}
{% block content %}
    <hr>
    <form action="/notes/{{ note.id }}/edit" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <label for="note-body">Note: </label>
        <a href="/notes/{{ note.id }}/delete">x</a>
        <textarea id="note-body" name="body" rows="12" class="main-input"
                  onkeydown="if (event.keyCode == 13 && event.shiftKey) { this.form.submit(); return false; }"
        >{{ note.body }}</textarea>
        <button>submit</button>
    </form>
    <hr>
{% endblock %}
