{% extends "layout.html" %}
{% block content %}
    <hr>
    <form action="/goals/{{ goal.id }}/edit" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <label for="goal-body">Goal: </label>
        <a href="/goals/{{ goal.id }}/delete">x</a>
        <textarea id="goal-body" name="body" rows="12" class="main-input"
                  onkeydown="if (event.keyCode == 13 && !event.shiftKey) { this.form.submit(); return false; }"
        >{{ goal.body }}</textarea>
        <button>submit</button>
    </form>
    <hr>
{% endblock %}
