{% extends "layout.html" %}
{% block content %}
    <hr>
    <form action="/tasks/{{ task.id }}/edit" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <label for="task-title">Task: </label>
        <a href="/tasks/{{ task.id }}/delete">x</a>
        <input autofocus type="text" id="task-title" name="title" class="main-input"
               onkeydown="if (event.keyCode == 13 && !event.shiftKey) { this.form.submit(); return false; }"
               value="{{ task.title }}"
        />
        <button>submit</button>
    </form>
    <hr>
{% endblock %}
