{% extends "layout.html" %}
{% block content %}
    <hr>
    <h2>Edit Calendar Event
        <a href="/calendar-events/{{ calendar_event.id }}/delete">x</a>
    </h2>
    <form action="/calendar-events/{{ calendar_event.id }}/edit" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input autofocus type="text" id="calendar-event-title" name="title" class="main-input"
               onkeydown="if (event.keyCode == 13 && !event.shiftKey) { this.form.submit(); return false; }"
               value="{{ calendar_event.title }}"
        />
        <input autofocus type="date" id="calendar-event-to-start-ts" name="to_start_ts_date"
               value="{{ calendar_event.to_start_ts|to_user_tz|format_dt("%Y-%m-%d") }}"
        />
        <input autofocus type="time" id="calendar-event-to_start-ts" name="to_start_ts_time"
               value="{{ calendar_event.to_start_ts|to_user_tz|format_dt("%H:%M") }}"
        />
        <input autofocus type="date" id="calendar-event-to-finish-ts" name="to_finish_ts_date"
               value="{{ calendar_event.to_finish_ts|to_user_tz|format_dt("%Y-%m-%d") }}"

        />
        <input autofocus type="time" id="calendar-event-to-finish-ts" name="to_finish_ts_time"
               value="{{ calendar_event.to_finish_ts|to_user_tz|format_dt("%H:%M") }}"
        />
        <button>submit</button>
    </form>
    <hr>
{% endblock %}
