{% extends "layout.html" %}
{% block content %}
    <hr>
    <form action="/inbox-entries/{{ inbox_entry.id }}/edit" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <label for="inbox-entry-body">Inbox Entry: </label>
        <a href="/inbox-entries/{{ inbox_entry.id }}/delete">x</a>
        <textarea id="inbox-entry-body" name="body" rows="12" class="main-input"
                  onkeydown="if (event.keyCode == 13 && event.shiftKey) { this.form.submit(); return false; }"
        >{{ inbox_entry.body }}</textarea>
        <button>submit</button>
    </form>
    <hr>
{% endblock %}
