{% extends "layout.html" %}
{% block content %}
    <hr>
    <form action="/logs/{{ log.id }}/edit" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <label for="log-body">Log: </label>
        <a href="/logs/{{ log.id }}/delete">x</a>
        <textarea id="log-body" name="body" rows="12" class="main-input"
                  onkeydown="if (event.keyCode == 13 && event.shiftKey) { this.form.submit(); return false; }"
        >{{ log.body }}</textarea>
        <button>submit</button>
    </form>
    <hr>
{% endblock %}
