{% extends "layout.html" %}
{% block content %}
    <hr>
    <form action="/trackers/{{ tracker.id }}/edit" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <label for="tracker-body">Tracker: </label>
        <a href="/trackers/{{ tracker.id }}/delete">x</a>
        <input autofocus type="text" id="tracker-name" name="name" class="main-input"
               onkeydown="if (event.keyCode == 13 && !event.shiftKey) { this.form.submit(); return false; }"
               value="{{ tracker.name }}"
        />
        <button>submit</button>
    </form>
    <hr>
    {% for summed_tracker_session in summed_tracker_sessions %}
        <h2>{{ summed_tracker_session.started_ts|to_user_tz|format_dt('%H:%M') }}
            - {{ summed_tracker_session.finished_ts|to_user_tz|format_dt('%H:%M') }}</h2>
        {% for tracker_session in summed_tracker_session.tracker_sessions %}
            {% include "tracker-session.html" %}
        {% endfor %}
    {% endfor %}
{% endblock %}
