{% extends "layout.html" %}

{% block aside %}
    {% include "cal.html" %}<br>
{% endblock %}

{% block content %}
    <form action="/goals/create" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <label for="goal">Goal: </label>
        <input autofocus type="text" id="goal-name" name="name" class="main-input"
               onkeydown="if (event.keyCode == 13 && !event.shiftKey) { this.form.submit(); return false; }"
        />
        <label for="activity-select">Activity: </label>
        <select name="activity_id" id="activity-select">
            {% for activity in activities %}
                <option value="{{ activity.id }}">{{ activity.name }}</option>
            {% endfor %}
        </select>
        <label for="limit-select">At</label>
        <select name="limit" id="limit-select">
            {% for limit in limits %}
                <option value="{{ limit[0] }}">{{ limit[1] }}</option>
            {% endfor %}
        </select>
        <label for="frequency-input"></label>
        <input autofocus type="number" id="frequency-input" name="frequency"
               value="1" min="1" style="width:30px;"
        />
        <label for="period-select"> times a</label>
        <select name="period" id="period-select">
            {% for period in periods %}
                <option value="{{ period[0] }}">{{ period[1] }}</option>
            {% endfor %}
        </select>
        <label for="active-minutes-input">for</label>
        <input autofocus type="number" id="active-minutes-input" name="active_minutes"
               value="10" min="1" max="60" style="width:40px;"
        />
        <select name="active-for-period" id="period-select">
            <option value="minutes">minutes</option>
            <option value="hours">hours</option>
        </select>
        <button>submit</button>
    </form>
    <hr>
    {% for goal in goals %}
        {% include "goal.html" %}
    {% endfor %}
{% endblock %}
