<div class="goal">
    <small style="float: right;">
        [<a href="/goals/{{ goal.id }}/edit">e</a>|<a href="/goals/{{ goal.id }}/delete">x</a>]
    </small>

    <p style="margin-bottom:0;">
        {{ goal.name }}
    </p>

    <small>
        {{ goal.activity.name }} - At {{ goal.limit }} {{ goal.frequency }} times a {{ goal.period }} for {{ goal.active_minutes }} minutes
    </small>
</div>
