{% extends "layout.html" %}
{% block aside %}
    {% include "cal.html" %}<br>
{% endblock %}

{% block content %}
    <div class="flash message">
        <small style="float: right;">
            <a href="/settings/dismiss">got it</a>
        </small>
        <blockquote>
            This is your life. <br>
            And it's ending one minute at a time. <br>
            It's only after you lost everything that you are free to do anything.
            <footer>
                <cite>Tyler Durden, Fight Club</cite>
            </footer>
        </blockquote>
        <p>This is your inbox. Put anything useless here. Free your goddamn mind.</p>
        <p>If you want to be smart-ass about it and create a todo, prefix the thing with "todo:".</p>
        <p>Example:</p>
        <blockquote>
            todo: kill Bill
        </blockquote>
    </div>
    <form action="/inbox-entries/create" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <label for="inbox-entry">Inbox Entry: </label>
        <textarea autofocus id="inbox-entry" name="body" class="main-input"
                  placeholder="Put anything here. Write task: to make a task."
                  onkeydown="if (event.keyCode == 13 && !event.ctrlKey && !event.shiftKey ) { this.form.submit(); return false; }"
        >{% if inbox_entry_value %}{{ inbox_entry_value }}{% endif %}</textarea>
        {% if ctx.user_settings.tasks_enabled %}
            <a href="?inbox_entry_value=task:" onclick="setInboxEntry('task: ');return false;">task</a> |
        {% endif %}
        {% if ctx.user_settings.calendar_events_enabled %}
            <a href="?inbox_entry_value=event:" onclick="setInboxEntry('event: ');return false;">event</a> |
        {% endif %}
        {% if ctx.user_settings.activities_enabled %}
            <a href="?inbox_entry_value=start:" onclick="setInboxEntry('start: ');return false;">start</a> |
        {% endif %}
        {% if ctx.user_settings.notes_enabled %}
            <a href="?inbox_entry_value=note:" onclick="setInboxEntry('note: ');return false;">note</a> |
        {% endif %}
        {% if ctx.user_settings.logs_enabled %}
            <a href="?inbox_entry_value=log:" onclick="setInboxEntry('log: ');return false;">log</a> |
        {% endif %}
        <button>submit</button>
    </form>
    <hr>
    <div style="display: inline-block; width: 50%; vertical-align: top;">
        {% for dt, inbox_entries in dated_inbox_entries.iteritems() %}
            <h3>{{ dt|format_dt("%A, %d %B") }}</h3>
            {% for inbox_entry in inbox_entries %}
                {% include "inbox-entry.html" %}
            {% endfor %}
        {% endfor %}
    </div>
    <div style="display: inline-block; width: 45%; vertical-align: top;">
        {% for activity in running_activities %}
            {% include "activity.html" %}
        {% endfor %}
        {% for dt, calendar_events in dated_calendar_events.iteritems() %}
            <h3>{{ dt|format_dt("%A, %d %B") }}</h3>
            {% for calendar_event in calendar_events %}
                {% include "calendar-event.html" %}
            {% endfor %}
        {% endfor %}
        {% for task in not_done_tasks %}
            {% include "task.html" %}
        {% endfor %}
        {% for task in done_tasks %}
            {% include "task.html" %}
        {% endfor %}
    </div>
{% endblock %}
