<blockquote>
    <cite style="float:left; margin-right: 10px;">{{ inbox_entry.created_ts|format_dt("%H:%M") }}</cite>
    <small style="float: left;">
        [
        {% if not inbox_entry.is_processed %}
            <a href="/inbox-entries/{{ inbox_entry.id }}/transform/task">task</a> |
            <a href="/inbox-entries/{{ inbox_entry.id }}/transform/calendar-event">event</a> |
            <a href="/inbox-entries/{{ inbox_entry.id }}/transform/note">note</a> |
            <a href="/inbox-entries/{{ inbox_entry.id }}/transform/log">log</a> |
            <a href="/inbox-entries/{{ inbox_entry.id }}/process">done</a>
        {% else %}
            {% if inbox_entry.processed_type %}
                <a href="/{{ inbox_entry.processed_type|pluralize }}">
                    {{ inbox_entry.processed_type }}
                </a> |
            {% endif %}
            <a href="/inbox-entries/{{ inbox_entry.id }}/process">not done</a>
        {% endif %}
        ]
    </small>
    <small style="float: right;">
        [<a href="/inbox-entries/{{ inbox_entry.id }}/edit">e</a>|<a
            href="/inbox-entries/{{ inbox_entry.id }}/delete">x</a>]
    </small>
    <div style="clear:both;"></div>
    <p>
        {% if inbox_entry.is_processed %}
            <div style="text-decoration: line-through;">
        {% endif %}
        {{ inbox_entry.body|markdown }}
        {% if inbox_entry.is_processed %}
            </div>
        {% endif %}
    </p>
</blockquote>
