<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Basic Prodday</title>
    <link rel="icon" type="image/png" sizes="32x32"
          href="{{ url_for('static', filename='favicons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96"
          href="{{ url_for('static', filename='favicons/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{{ url_for('static', filename='favicons/favicon-16x16.png') }}">
    <style type="text/css">
        body {
            font-family: Open Sans, Arial, sans-serif;
            color: #444;
            padding: 0 1em;
        }

        main {
            margin-left: 300px;
            max-width: 800px;
        }

        aside {
            float: left;
            max-width: 250px;
            margin: 0;
            padding: 1em;
        }

        .main-input {
            width: 100%;
            padding: 0.5em;
            font-family: Open Sans, Arial sans-serif;
            font-size: 1em;
        }

        blockquote {
            border-left: 0.2em solid #ccc;
            padding-left: 1em;
        }

        blockquote > h1 {
            font-size: 1.4em;
        }

        blockquote > h2 {
            font-size: 1.2em;
        }

        cite:before {
            content: "\2014 ";
        }

        cite {
            font-size: 0.8em;
        }

        .search-form {
            display: inline;
        }

        .right-nav {
            float: right;
        }

        .checkbox {
            background-color: #ddd;
            border: 1px solid #444;
            border-radius: 2px;
            color: #ccc;
            padding: 0 3px;
            margin: 5px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }

        .activity-action {
            font-size: 22px;
            background-color: #fff;
            border: 0;
            color: #444;
            padding: 0;
            margin: 0;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }

        .task:hover > .checkbox {
            color: #444;
        }

        .checked {
            color: #444;
        }

        .flash {
            padding: 4px;
            margin: 4px;
        }

        .flash.error {
            border: 1px solid #f22;
            background-color: #faa;
            color: #f22;
        }

        .flash.message {
            border: 1px solid #28f;
            background-color: #cef;
            color: #28f;
        }

        td.cal-day {
            width: 30px;
            padding: 2px;
            text-align: right;
        }

        td.sat, td.sun {
            color: red;
        }

        th.cal-header {
            width: 30px;
            text-align: center;
        }

        td.today {
            background-color: #4af;
            color: white;
        }

        tr.this-week {
            background-color: #cef;
        }
    </style>
</head>
<body>
<nav>
    {% include "navigation.html" %}
</nav>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="flash {{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}
<aside>
    {% block aside %}{% endblock %}
</aside>
<main>
    {% block content %}{% endblock %}
</main>
<script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
