<blockquote>
    <small style="float: right;">
        [<a href="/logs/{{ log.id }}/edit">e</a>|<a href="/logs/{{ log.id }}/delete">x</a>]
    </small>
    {% if log.created_type == 'AUTOMATIC' %}
        [{{ log.created_ts|format_dt("%H:%M") }}]: {{ log.body }}
    {% else %}
        <cite>{{ log.created_ts|format_dt("%H:%M") }}</cite>
        <p>{{ log.body|markdown }}</p>
    {% endif %}
</blockquote>