{% extends "layout.html" %}

{% block aside %}
    {% include "cal.html" %}<br>
{% endblock %}

{% block content %}
    <form action="/logs/create" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <label for="log">Log: </label>
        <textarea autofocus id="log" name="body" class="main-input"
                  onkeydown="if (event.keyCode == 13 && event.shiftKey) { this.form.submit(); return false; }"
        ></textarea>
        <button>submit</button>
    </form>
    <hr>
    Show: <a href="/logs">human</a> | <a href="?log_type=system">system</a> | <a href="?log_type=all">all</a>
    {% for dt, logs in dated_logs.iteritems() %}
        <h3>{{ dt|format_dt("%A, %d %B") }}</h3>
        {% for log in logs %}
            {% include "log.html" %}
        {% endfor %}
    {% endfor %}
{% endblock %}
