{% if current_user.is_authenticated %}
    <a href="/">Home</a> |
    {% if ctx and ctx.user_settings %}
        <a href="/tasks">Tasks</a> |
        <a href="/calendar-events">Calendar</a> |
        <a href="/activities">Activities</a> |
        <a href="/goals">Goals</a> |
        <a href="/trackers">Trackers</a> |
        <a href="/notes">Notes</a> |
        <a href="/logs">Log</a> |
    {% endif %}
    <span class="right-nav">
          <form action="/search" class="search-form">
            <input type=text name="q" value="{{ q }}"/>
            <button>search</button>
          </form> |
          <a href="/settings">Settings</a>|
          <a href="/logout">Log out</a>
      </span>
{% else %}
    <a href="/">Home</a> | After you register:
    <a href="/tasks">Tasks</a> |
    <a href="/calendar-events">Calendar</a> |
    <a href="/activities">Activities</a> |
    <a href="/goals">Goals</a> |
    <a href="/trackers">Trackers</a> |
    <a href="/notes">Notes</a> |
    <a href="/logs">Log</a> |
    <span class="right-nav">
          <a href="/login">Log in</a> |
          <a href="/register">Register</a>
      </span>
{% endif %}
<hr>