{% extends "layout.html" %}
{% block content %}
    <form action="/notes/create" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <label for="note">Note: </label>
        <textarea autofocus id="note" name="body" class="main-input"
                  onkeydown="if (event.keyCode == 13 && event.shiftKey) { this.form.submit(); return false; }"
        ></textarea>
        <button>submit</button>
    </form>
    <hr>
    {% for dt, notes in dated_notes.iteritems() %}
        <h3>{{ dt|format_dt("%A, %d %B") }}</h3>
        {% for note in notes %}
            {% include "note.html" %}
        {% endfor %}
    {% endfor %}
{% endblock %}
