<blockquote>
    <cite>{{ note.created_ts|format_dt("%H:%M") }}</cite>
    <small style="float: right;">
        [<a href="/notes/{{ note.id }}/edit">e</a>|<a href="/notes/{{ note.id }}/delete">x</a>]
    </small>
    <p>{{ note.body|markdown }}</p>
</blockquote>