{% extends "layout.html" %}
{% block content %}
    {% if not notes %}
        <p>No notes for <strong>{{ q }}</strong></p>
    {% else %}
        <h2>Notes</h2>
        {% for note in notes %}
            <blockquote>
                <h3>{{ loop.index }}. | {{ note.created_ts|format_dt("%A, %d %B") }}
                    | {{ note.created_ts|format_dt("%H:%M") }}
                    <small>[<a href="/notes/{{ note.id }}/edit">e</a>|<a
                            href="/notes/{{ notes.id }}/delete">x</a>]
                    </small>
                </h3>
                <p>{{ note.body|hl_search(q, 3)|safe }}</p>
            </blockquote>
        {% endfor %}
    {% endif %}
    <hr>
    {% if not tasks %}
        <p>No tasks for <strong>{{ q }}</strong></p>
    {% else %}
        <h2>Tasks</h2>
        {% for task in tasks %}
            {% include "task.html" %}
        {% endfor %}
    {% endif %}
    <hr>
    {% if not calendar_events %}
        <p>No calendar events for <strong>{{ q }}</strong></p>
    {% else %}
        <h2>Calendar Events</h2>
        {% for calendar_event in calendar_events %}
            {% include "calendar-event.html" %}
        {% endfor %}
    {% endif %}
    <hr>
    {% if not activities %}
        <p>No activities for <strong>{{ q }}</strong></p>
    {% else %}
        <h2>Activities</h2>
        {% for activity in activities %}
            {% include "activity.html" %}
        {% endfor %}
    {% endif %}
    <hr>
    {% if not logs %}
        <p>No logs for <strong>{{ q }}</strong></p>
    {% else %}
        <h2>Logs</h2>
        {% for log in logs %}
            {% include "log.html" %}
        {% endfor %}
    {% endif %}
{% endblock %}
