<div class="activity_session">
    <p style="margin-bottom:0;">
        {{ activity_session.name }}
    </p>
    <small>active: {{ activity_session.total_time|format_sec_to_human }} </small>
    <div style="border:1px solid #222; width:{{ (activity_session.total_time/activity_session_crates.total_time)*100 }}%;"></div>
</div>