{% extends "layout.html" %}

{% block aside %}
    {% include "cal.html" %}<br>
{% endblock %}

{% block content %}
    <div class="flash message">
        <small style="float: right;">
            <a href="/settings/dismiss">got it</a>
        </small>
        <span>
            Tasks are things that you want to do. They can be done or not done.
        </span>
    </div>
    <hr>
    <form action="/tasks/create" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <label for="task-title">Task: </label>
        <input autofocus type="text" id="task-title" name="title" class="main-input"
               onkeydown="if (event.keyCode == 13 && !event.shiftKey) { this.form.submit(); return false; }"
        />
        <br>
        <br>
        {% if ctx and ctx.user_settings.tasks_projects_enabled %}
            <label for="activity-name">Project: </label>
            <select name="project_id">
                <option value="0">No project</option>
                {% for project in projects %}
                    <option value="{{ project.id }}"
                            {% if selected_project_id|int == project.id %}selected="selected"{% endif %}
                    >{{ project.name }}
                    </option>
                {% endfor %}
            </select>
        {% endif %}
        {% if ctx and ctx.user_settings.tasks_labels_enabled %}
            <label for="activity-name">Labels: </label>
            <input type="text" id="project-name" name="labels"/>
        {% endif %}
        {% if ctx and ctx.user_settings.tasks_defer_enabled %}
            <br>
            <label for="task-start-ts">Defer:</label>
            <input autofocus type="date" id="task-to-start-ts" name="to_start_ts_date"
                   value="{{ default_start_task|format_dt("%Y-%m-%d") }}"
            />
            <input autofocus type="time" id="task-to-start-ts" name="to_start_ts_time"
                   value="{{ default_start_task|format_dt("%H:%M") }}"
            />
        {% endif %}
        {% if ctx and ctx.user_settings.tasks_due_enabled %}
            <label for="task-end-ts">Due:</label>
            <input autofocus type="date" id="task-to-finish-ts" name="to_finish_ts_date"
                   value="{{ default_end_task|format_dt("%Y-%m-%d") }}"
            />
            <input autofocus type="time" id="task-to-finish-ts" name="to_finish_ts_time"
                   value="{{ default_end_task|format_dt("%H:%M") }}"
            />
        {% endif %}
        <button>submit</button>
    </form>
    <hr>
    <div style="display: inline-block; width:20%; padding:5px; vertical-align: top;">
        <h3>Projects:</h3>
        <p><a href="/tasks">All projects</a></p>
        {% for project in projects %}
            <p><a href="?project_id={{ project.id }}">{{ project.name }}</a></p>
        {% endfor %}
        <form action="/projects/create" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <label for="project-name"></label>
            <input autofocus type="text" id="project-name" name="name" style="width: 90px;"
                   onkeydown="if (event.keyCode == 13 && !event.shiftKey) { this.form.submit(); return false; }"
            />
            <button>submit</button>
        </form>
    </div>
    <div style="display: inline-block; width:55%;padding:5px;vertical-align: top;">
        <h3>Tasks:</h3>
        {% for task in not_done_tasks %}
            {% include "task.html" %}
        {% endfor %}
        {% for task in done_tasks %}
            {% include "task.html" %}
        {% endfor %}
    </div>
    <div style="display: inline-block; width:15%;padding:5px;vertical-align: top;">
        <h3>Labels:</h3>
        {% for label in labels %}
            <p>{{ label.name }}</p>
        {% endfor %}
    </div>
{% endblock %}
