<div class="tracker">
    <small style="float: right;">
        [<a href="/trackers/{{ tracker.id }}/edit">e</a>|<a href="/trackers/{{ tracker.id }}/delete">x</a>]
    </small>

    <p style="margin-bottom:0;">
        <a href="/trackers/{{ tracker.id }}">{{ tracker.name }}</a>
    </p>

    <small>
        {{ tracker.tracker_type }} | id: {{ tracker.id }} | api_key: {{ tracker.api_key }}
    </small>
</div>
