<div class="tracker_session">
    <p style="margin-bottom:0;">
        {{ tracker_session.key }}
    </p>

    <small>
        active: {{ tracker_session.active_time|format_sec_to_human }} |
        total: {{ tracker_session.total_time|format_sec_to_human }}

    </small>
    <div style="border:1px solid #aaa; width:{{ (tracker_session.total_time/sum_seconds)*100 }}%;"></div>
    <div style="border:1px solid #222; width:{{ (tracker_session.active_time/sum_seconds)*100 }}%; position:relative; top:-2px;"></div>
</div>