{% extends "layout.html" %}
{% block aside %}
    {% include "cal.html" %}<br>
{% endblock %}
{% block content %}
    <div style="display:inline-block; width: 45%; padding: 10px; vertical-align: top;">
        <form action="/trackers/create" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <label for="keys">Tracker: </label>
            <input autofocus type="text" id="tracker-name" name="name" class="main-input"
                   onkeydown="if (event.keyCode == 13 && !event.shiftKey) { this.form.submit(); return false; }"
            />

            <label for="tracker-select">Type: </label>
            <select name="tracker_type" id="tracker-select">
                {% for tracker_type in tracker_types %}
                    <option value="{{ tracker_type[0] }}">{{ tracker_type[1] }}</option>
                {% endfor %}
            </select>

            <button>submit</button>
        </form>
    </div>
    <div style="display:inline-block; width: 45%; padding: 10px; vertical-align: top;">
        Get trackers:
        <ul>
            <li>
                <a href="https://gitlab.com/pisquared/prodday_clients">Linux Application Tracker</a>
            </li>
            <li>
                <a href="https://gitlab.com/pisquared/prodday_clients">Chrome Extension Domain Tracker</a>
            </li>
            <li>
                <a href="https://gitlab.com/pisquared/prodday_clients">Android Sport Activity Tracker</a>
            </li>
        </ul>
    </div>
    <hr>
    <div style="display:inline-block; width: 45%; padding: 10px; vertical-align: top;">
        {% for tracker in trackers %}
            {% include "tracker.html" %}
        {% endfor %}
    </div>
{% endblock %}
