<div>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
      google.charts.load("current", {packages: ["timeline"]});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var container = document.getElementById('timeline-{{ timeline_uid }}');
        var chart = new google.visualization.Timeline(container);
        var dataTable = new google.visualization.DataTable();
        dataTable.addColumn({type: 'string', id: 'Tracker'});
        dataTable.addColumn({type: 'string', id: 'Name'});
        dataTable.addColumn({ type: 'string', role: 'tooltip' });
        dataTable.addColumn({type: 'date', id: 'Start'});
        dataTable.addColumn({type: 'date', id: 'End'});
        dataTable.addRows([
          {% for timeline in timelines.timelines %}
            {% for entry in timeline.entries %}
              {% if entry.active_time > 0 %}
                ["{{ timeline.name }}",
                  "{{ entry.key }}",
                  "{{ entry.key }}|"+
                    "{{ entry.started_ts|to_user_tz|format_dt("%H:%M") }} - " +
                    "{{ entry.finished_ts|to_user_tz|format_dt("%H:%M") }}|" +
                    "total: {{ entry.total_time }}|" +
                  "active: {{ entry.active_time }}",
                  new Date("{{ entry.started_ts|to_user_tz }}"),
                  new Date("{{ entry.finished_ts|to_user_tz }}")],
              {% endif %}
            {% endfor %}
          {% endfor %}
        ]);

        chart.draw(dataTable);
      }
    </script>
    <div style="overflow-x: auto; overflow-y: hidden;">
        <div id="timeline-{{ timeline_uid }}"
{#             style="height: {{ timelines|length*60 }}px;#}
{#                width: {{ (timelines.finished_ts - timelines.started_ts).seconds*1.2 }}px;"#}
        ></div>
    </div>
</div>